.midtopPart {
  width: 100vw;
  height: 15vh;
  background-color: #005b6b;
}

#slider {
  overflow-x: scroll;
  width: max-content;
  align-items: center;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
}
#midAbout {
  align-items: center;
  position: relative;
}
.sliderComp {
  width: 100vw !important;
  height: 500px;
  display: inline-block;
  background-color: #005b6b;
  border: 1px solid black;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
