.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 22002;
  width: 100%;
  height: 33em;
  background-color: #11696b;
  position: relative;
}
.up {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 100px;
  left: 50px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
}
.up:hover {
  background-color: #d19c3a;
}
.arrow {
  rotate: 180deg;
  transition: 0.5s;
}
.arrow:hover {
  rotate: 0deg;
  transition: 0.5s;
}
.logo-footer {
  padding: 10px;
}
.upper-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -40px;
}
.down-footer {
  display: flex;
  width: 100%;
  height: 70%;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  color: white;
  letter-spacing: 2px;
}
.text-p {
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  width: 40%;
}
.about-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about-p {
  letter-spacing: 1px;
  font-size: 33px;
  width: 300px;
  text-align: center;
  font-weight: 500;
  word-wrap: normal;
}
form {
  display: flex;
  flex-direction: column;
}
.num {
  color: #d19c3a;
  font-weight: 800;
}
label {
  padding: 10px;
}
input {
  border: none;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 5px;
  border-radius: 5px;
  color: #11696b !important;
}
input[type="text" i] {
  writing-mode: horizontal-tb !important;
  color: #11696b;
}
input[type="text"]:focus,
input[type="phone"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none !important;
  outline-width: 0 !important;
  border: 1px solid #d19c3a;
}
input:-internal-autofill-selected {
  color: #11696b !important;
  background-color: #d19c3a !important;
}
.btn {
  border: none;
  border-radius: 10px;
  width: fit-content;
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ignotum";
  letter-spacing: 2px;
  font-weight: 600;
  background-color: #d19c3a;
  color: #11696b;
  cursor: pointer;
  box-shadow: 13px 13px 24px 5px rgba(16, 90, 92, 1);
  -webkit-box-shadow: 13px 13px 24px 5px rgba(16, 90, 92, 1);
  -moz-box-shadow: 13px 13px 24px 5px rgba(16, 90, 92, 1);
}
.arrow {
  filter: invert(100%);
}
span.req {
  color: #d19c3a;
  font-weight: 600;
}
.city {
  color: #d19c3a;
  font-weight: 800;
  letter-spacing: 5px;
}
.aig img,
.afa img {
  padding: 20px;
  transition: 0.5s;
  filter: invert(66%) sepia(75%) saturate(418%) hue-rotate(355deg)
    brightness(87%) contrast(87%);
}
.aig:hover img,
.afa:hover img {
  scale: 1.5;
}
.aig::after,
.afa::after {
  display: inline;
  width: fit-content;
}
.aig:hover:after,
.afa:hover::after {
  display: inline;
  width: fit-content;
  scale: 1.1;
}
